:root{
    --orange: #ff8456;
}

*{
    box-sizing: border-box;
    outline: none;
    transition: all 0.2s linear;
}

.navBar{
    height: 11vh;
    background-color: #2D303C;
    border-color: #1b1b25;
    
    nav{
        display: flex;
        justify-content: space-around;
        height: 100%;

        img{
            height: 120px;
            margin: auto 0;
        }

        a{
            margin: auto 0;
            text-decoration: none;
            color: var(--orange);
            font-size: 1.3rem;
        }
    }
}