{# Navbar #}
<div class="navBar">
    <nav class="container">
        <img src="{{ asset('./images/taxi-healthy-food.png') }}" alt="logo">
        <a href="">Home</a>
        <a href="">Your Meals</a>
        <a href="">About Us</a>
        <a href="">Contact Us</a>
    </nav>
</div>